.q1 {
    background-color: #222222;
}

.input1 {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    width: 451px;
    height: 51px;
}

.input2 {
    display: flex;
    width: 434px;
    height: 186px;
    margin-top: 2%;
    ;
}

.input-wrapper {
    display: inline-block;
    width: 50%;
}

.input {
    display: flex;
    width: 940px;
    justify-content: space-around;
}

.Send {
    max-width: 241px;
    max-height: 67px;
    background-color: yellow;
}